@charset "UTF-8";

#container-header {
  height: 100vh;
  background-image: url('../../../assets/imagens/ryomen_sukuna_wallpaper_by_mizoresyo_des1tf7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#container-area-noticy-main{
  display: flex;
  flex-direction: row;
  margin: 45px 50px;
  justify-content: space-between;
}

#container-noticy{
  display: flex;
  flex-direction: row;
  height: 20%;
  padding-right: 50px;
}

#container__one-section{
  display: flex;
  flex-direction: row;
  margin: 30px 50px 0 50px;
}

#one-section__first {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.topics{
  margin-bottom: 2em;
}

#one-section__second {
  width: 50%;
}
#one-section__third{
  width: 25%;
}

.responsive{
  display: flex;
  width: 30%;
}

#section_cards_vertical__container {
  margin: 2em 50px;
}

