
<section id="section-cards-vertical__container">
  <div class="selecion-cards">
    <h4>Cards</h4>
    <a href="#">more &rarr;</a>
  </div>
  <hr>
  <div id="section-cards-vertical__cards">
    <article class="card-vertical">
      <figure class="img_cards-vertical">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5fb7d836-1124-43d9-937c-f365d9aeaa8b/df64vb6-73c47c14-8416-48ec-9647-06538a6c0f91.png/v1/fill/w_1192,h_670,q_70,strp/inumaki_by_muztnafi_df64vb6-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNWZiN2Q4MzYtMTEyNC00M2Q5LTkzN2MtZjM2NWQ5YWVhYThiXC9kZjY0dmI2LTczYzQ3YzE0LTg0MTYtNDhlYy05NjQ3LTA2NTM4YTZjMGY5MS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.OUZHBvPrc004xrAM0yzmU8bxq6H5E8YrNGJDmoE-X_c" alt="" srcset="">
      </figure>
      <h3>
        Toge Inumaki and his strong words
      </h3>
      <p>
        Toge also has a lot of determination and courage in his trajectory, being part of the same class. However, he is very reserved and says very little, mainly because of the "cursed word" that can hurt, in some way, the people with whom he relates.
      </p>
      <p class="card-vertical__footer-info">25 December by <b style="color:blue;">Diego de Souza</b></p>
    </article>
    <article class="card-vertical">
      <figure class="img_cards-vertical">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5fb7d836-1124-43d9-937c-f365d9aeaa8b/dewvue9-5768eae4-44d9-420b-bcc2-111be2348a2f.png/v1/fill/w_1192,h_670,q_70,strp/okkotsu_yuta_by_muztnafi_dewvue9-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNWZiN2Q4MzYtMTEyNC00M2Q5LTkzN2MtZjM2NWQ5YWVhYThiXC9kZXd2dWU5LTU3NjhlYWU0LTQ0ZDktNDIwYi1iY2MyLTExMWJlMjM0OGEyZi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.evNupjXKYZnho9-i6xmDXSB4PDdnDn3Pu50XWiEH6XY" alt="" srcset="">
      </figure>
      <h3>
        Yuta Okkotsu and his beloved Rika
      </h3>
      <p>
        The feature film's protagonist is a young man disturbed by his best friend's spiteful spirit. Upon witnessing her death in a tragic accident, the course of Yuta's life changes, considering that what was calm and sweet becomes something terrible, complex and haunted. But everything changes when he gets help from Satoru Gojo.
      </p>
      <p class="card-vertical__footer-info">25 December by <b style="color:blue;">Diego de Souza</b></p>
    </article>
    <article class="card-vertical">
      <figure class="img_cards-vertical">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5fb7d836-1124-43d9-937c-f365d9aeaa8b/deid3vn-369ba794-5958-49dc-843f-b7613bb61a07.png/v1/fill/w_1192,h_670,q_70,strp/jujutsu_kaisen_suguru_geto_wallpaper_by_muztnafi_deid3vn-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNWZiN2Q4MzYtMTEyNC00M2Q5LTkzN2MtZjM2NWQ5YWVhYThiXC9kZWlkM3ZuLTM2OWJhNzk0LTU5NTgtNDlkYy04NDNmLWI3NjEzYmI2MWEwNy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.diDTmjwTvipHJ2P7doe1HysOZ-KPxGMLNVv0xruEwCo" alt="" srcset="">
      </figure>
      <h3>
        Suguru Geto, perhaps the greatest villain?
      </h3>
      <p>
        One of the main antagonists of the plot is a longtime rival of Satoru Gojo and has a very strong team to face him. Since the film was announced, many fans were anxious to know what the villain's look would be in the production, given his importance to the development of the story.
      </p>
      <p class="card-vertical__footer-info">25 December by <b style="color:blue;">Diego de Souza</b></p>
    </article>
  </div>

</section>


